{% extends 'base.html' %}

{# 界面的标题 #}
{% block title %}
    {{ blog_type }}
{% endblock %}

{% block blog_active_class %}active{% endblock %}

{# 界面的内容 #}
{% block content %}
    <h3>博文类型：{{ blog_type.type_name }}</h3>
    {% for blog in blogs %}
        <a href="{% url 'blog_detail' blog.pk %}">
            <h3>{{ blog.title }}</h3>
        </a>
        <p>{{ blog.content|truncatechars:30 }}</p> <!--博文最长只显示30个字符-->
    {% empty %} <!-- 没有博文时的显示状态 -->
        <p>-- 暂无博文，敬请期待 --</p>
    {% endfor %}
    <hr>
    <p>博文的篇数为：{{ blogs|length }}篇</p> <!-- 得到博文的篇数(第一种方式) -->
{% endblock %}
